.overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-color-overlay);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--font-tertiary);
  font-size: 2rem;
}
