.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: var(--main-color-overlay);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--font-tertiary);
  font-size: 2rem;
  border-radius: var(--radius);
}
