.about-header {
  font-family: var(--font-main);
  font-size: 6rem;
  margin-bottom: 0.5rem;
  color: var(--main-color-dark);
}

.about-text {
  text-align: center;
  font-family: var(--font-tertiary);
  line-height: 2;
  padding: 1rem;
}

.about-text__cursive {
  font-style: italic;
  padding-top: 0 !important;
}


@media (max-width: 639px) {
  .about-header {
    font-size: 2.5rem;
  }

  .about-text {
    font-size: 0.6rem;
    padding: 0.5rem;
  }

}

@media (min-width: 640px) and (max-width: 1023px) {
  .about-header {
    font-size: 3.5rem;
  }

  .about-text {
    font-size: 0.6rem;
    padding: 0.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {}
