.melodies {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #D0F0EF;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
}

.title {
  font-family: 'Titan One', cursive;
  font-size: 2rem;
  color: #262D42;
  padding: 2rem;
  background-color: #D0F0EF;
}

.melodies-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.melodies-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.melodies-item:hover {
  cursor: pointer;
}

.melodies-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  width: 100%;
  padding: 2rem;
}


.melody {
  display: flex;
  flex-direction: column;
  width: 30%;
  transition: transform 0.3s;
  flex: 1;
  max-width: calc(100% / 3 - 2rem);
}

.melody:hover {
  transform: scale(1.05);

}

.melody-footer {
  background-color: rgba(11, 159, 175, 1);
  font-family: 'Happy Monkey', cursive;
  color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
}

.melody:hover {
  background-color: #73e194;
}

.melody:active {
  background-color: #069f25;
}

.menu--closed .melodies {
  display: none;
}
