.game-nav {
  background-color: var(--main-color-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 0.5rem 1rem;
  height: 100%;
  cursor: pointer;
}

.game-nav .menu-icon {
  height: 2rem;
}

.tippy-box {
  background-color: var(--text-color);
  color: var(--text-color-dark);
  font-size: 0.8rem;
  font-family: var(--font-quaternary);
  border-radius: var(--radius);
  padding: 6px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
